extends layouts/main-layout.pug

block styles 
  link(rel="stylesheet", href="/css/product.css")

block content
      if prods.length > 0
        .grid
            each product in prods
              article.card.product-item
                  header.product__title
                    h1.product__title #{product.title}
                  div.card__image
                    img(src="https://pixabay.com/get/ee33b90921fd1c22d9584518a33219c8b66ae3d01db718489cf9c67b/almonds-768699_1920.jpg")
                  div.card__content
                    h2.product__price $20.99
                    p.product__description A very nice product!
                  .card__actions
                    button.btn Add To Cart
      else
        h1 No Products
