<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/main.css"> <!-- will fetch the css from the public folder as you seted it in app.js with the express.static -->
  <title>Home Page</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/user/users">Users</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h1>This is home page!</h1>
  </main>
</body>
</html>