<nav class="nav-bar">
  <ul class="nav-bar-ul">
    <li class="nav-bar-li"><a class="nav-bar-link" href="/">Home Page</a></li>
    <li class="nav-bar-li"><a class="nav-bar-link" href="/users/user">Users Page</a></li>
  </ul>
</nav>