<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
      <form class="product-form" action="/admin/add-product" method="POST">
        <div class="form-control">
          <label for="title">Title</label>
          <input class="" type="text" id="title" name="title" id="">
        </div>
        <div class="form-control">
          <label for="imageUrl">Image URL</label>
          <input class="" type="text" id="imageUrl" name="imageUrl" id="">
        </div>
        <div class="form-control">
          <label for="productPrice">Product Price</label>
          <input class="" type="number" id="productPrice" name="productPrice" id="">
        </div>
        <div class="form-control">
          <label for="description">Product description</label>
          <textarea name="description" id="description" cols="30" rows="10"></textarea>
        </div>
        <button type="submit">Add Produtct</button>
      </form>
    </main>
    <%- include('../includes/end.ejs') %>
